# Terraform state files
*.tfstate
*.tfstate.*

# Terraform variable files
*.tfvars
*.tfvars.json

# Terraform crash log
crash.log

# .terraform directory
.terraform/

# Ignore override files as they are usually not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive files (e.g., credentials)
# Add any other sensitive files specific to your project
credentials.tfvars

# Ignore local plan outputs
*.tfplan

# Include the Terraform lock file to ensure consistent provider versions
# Uncomment the line below if you prefer to exclude it from version control
.terraform.lock.hcl
